@font-face {
    font-family: 'JosefinSans';
    src: url('../assets/JosefinSans-VariableFont_wght.ttf');
    font-weight: 600;
    font-style: normal;
}

*{
    margin: 0;
    font-family: 'JosefinSans';
}

.home-body{
    background: url("../assets/home-page-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

p{
    color: white;
    font-size: 24px;
    font-weight: bolder;
}

.title{
    color: white;
    font-size: 70px;
}

.header-banner{
    height: 200px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.600);
}

.nav-container button{
    margin: 0px 20px 0px 20px;
    font-size: 30px;
    border: none;
    background: none;
    color: white;
    border-bottom: solid rgba(255, 255, 255, 0);
}

.nav-container button:hover{
    cursor: pointer;
    border-bottom: solid white;
}

.text-container{
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: space-evenly;
    align-items: end;
    margin-right: 10%;
}

.text-container :first-child{
    font-size: 40px;
}

.page-text{
    font-size: 30px;
}